body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.grid-container{
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: 60px 410px 60px;
}

.grid-container > div{
    text-align: center;
}

.grid-container-form{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: 90px 300px 50px;
}

.grid-container-form > div{
    text-align: left;
    padding: 15px; 
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
}


.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div{
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
}

.panel {
    overflow: hidden;
}
  

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#btnLogin {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}