.button{
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 12px 25px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: center;
  }

  .button:hover {
    background-color: #3e8e41;
  }