.flex-container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.flex-container {
  display: flex;
}

.flex-container > div {
  width: 140px;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 10px;
  font-size: 12px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  