.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.grid-container > div {
  text-align: left;
  font-size: 14px;
}

.item2{
      grid-column: 1/4;
}

li:nth-child(even) {
  background-color: #dddddd;
}

.area-tabela{grid-area: tabela}
.area-resumo{grid-area: resumo}
.area-botoes{grid-area: botoes}

.grid-container-detalhes{
  display: grid;
  grid-template-areas: 
    'tabela tabela tabela tabela'
    'tabela tabela tabela tabela'
    'tabela tabela tabela tabela';
}

.grid-container-detalhes > div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}

.area-desc-valor{
  grid-area: desc;
  text-align: left;
  padding-left: 110px;
}

.accordion{
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  overflow: hidden;
}


