<link rel="stylesheet" href="css/w3.css">
<div class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Sobre o Sistema</b></h5>
</div> 

<div class="w3-container">
    
    <div class="w3-container">
        <p>
            O sistema web de consulta foi feito com o intuito
            de auxiliar nossos clientes, com ele você pode:
        </p>
        <ul>
            <li>Consultar seus pedidos em aberto;</li>
            <li>Detalhar o pedido em aberto, para ver os produtos comprados.</li>
        </ul>
        <p>Para detalhar um pedido, basta clicar em cima de um item da listagem.</p>

        <p><b>Pedidos sem vincúlo: </b></p>
        <p>Caso na listagem apareça o texto: <b>Sem vínculo</b> ao invés de um número, significa que
            o pedido não tem relação com produto, por isso não existem itens na tabela de produtos.
        </p>
    </div>
  
</div>

<div class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Contatos</b></h5>
</div> 

<div class="w3-container">
    <p><b>Nome do cliente </b> </p>
    <ul>
        <li>telefone</li>
        <li>telefone</li>
    </ul>


    <p>
        Sistema desenvolvido por
        <b> 
            <a href="http://devsys.com.br/" target="_blank"> DevSys - Desenvolvimento de sistemas</a>
        </b>
    </p>

    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</div>

