<link rel="apple-touch-icon" sizes="180x180" href="./View/image/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./View/image/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./View/image/favicon-16x16.png">
<link rel="manifest" href="./View/image/site.webmanifest">
<link rel="mask-icon" href="./View/image/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="./View/image/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="./View/image/browserconfig.xml">
<meta name="theme-color" content="#ffffff">